*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background: #BB0000;
background: -moz-radial-gradient(center, #BB0000 0%, #B38532 50%, #BB0000 100%);
background: -webkit-radial-gradient(center, #BB0000 0%, #B38532 50%, #BB0000 100%);
background: radial-gradient(ellipse at center, #BB0000 0%, #B38532 50%, #BB0000 100%);
}